{% extends 'comment/base.html' %}
{% block content %}
{{post.title}}
{{post.description}}

{% for comment in comments  %}
<div id="{{comment.id}}" hx-target="this" hx-swap="outterHTML">
    <p>{{comment.username}} ({{comment.commented_at|timesince}}) : {{comment.description}} <button hx-get="{% url 'reply-create' comment.id %}" hx-swap="beforeend" hx-target="#replyform{{comment.id}}">Reply</button>
    </p>
    <div id="replyform{{comment.id}}">
    </div>
</div>
    {% for reply in comment.reply_set.all %}
    <p style="margin-left: 20px; color: red;">{{reply.username}} ({{reply.commented_at|timesince}}) : {{reply.description}}</p>
    {% endfor %}

{% endfor %}
<button hx-get="{% url 'comment-create' %}" hx-swap="beforeend" hx-target="#commentform">Add comment</button>
<div id="commentform">
</div>



{% endblock content %}
